:root {
    --primary-color: #f2f4f7;
    --secondary-color: #316bff;
    --black-color: #101828;
    --white-color: #ffffff;
    --red-color: #f83b43;
    --gray-color: #667085;
    --green-color: #26b922;
    --primary-orange: #FB8E3C;
    --second-orange: #FFF4EC;
    --second-gray-color: #eef2f5;
    --third-gray-color: #c8d1d6;
  }